.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
@font-face {
  font-family: "font-family: 'Raleway', sans-serif;";
  src: url(../Gilroy-Light.otf);
}
body {
  margin: 0px;
}
a {
  color: #fff;
  text-decoration: none;
}
#big {
  transform: scale(1.3);
  opacity: 0.9;
  cursor: pointer;
}
/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 30px;
}

/* .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 54px;
} */
.header_inner {
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 36px;
  padding-top: 36px;
  padding-left: 160px;
  padding-right: 160px;
}

.header_inner::after {
  content: "";
  display: block;
  width: 100%;
  top: 140px;
  left: -1px;
  height: 2px;
  background-color: #0e110f;
  position: absolute;
}
/* .header_logo {
}

Menu

.menu_logo {
} */

/* Subtitle */

.subtitle_inner {
  padding-top: 192px;
  padding-left: 160px;
  display: flex;
}

.subtitle_title {
  max-width: 761px;
  padding-bottom: 24px;
font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  color: #0e110f;

  text-transform: uppercase;
}

.subtitle_info {
  font-family: 'Raleway', sans-serif;
  max-width: 550px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #0e110f;
  margin-bottom: 192px;
}

/* Carts */

.carts_string_1 {
  display: flex;

  padding-left: 160px;
  padding-right: 160px;
}

.carts_string_2 {
  display: flex;

  padding-top: 96px;
  padding-left: 160px;
  padding-right: 160px;
}

.carts_string_3 {
  display: flex;

  padding-top: 96px;
  padding-left: 160px;
  padding-right: 160px;
}

.cart_1 {
  padding-right: 31px;
}

.cart_3 {
  padding-right: 31px;
}

.cart_5 {
  padding-right: 31px;
}

.cart_title {
  padding-top: 48px;
  padding-bottom: 12px;

  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  color: black;
}

.cart_subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: black;
}
/* contacts */
.contacts {
  padding-bottom: 89px;
}
.contact_name {
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  padding-bottom: 12px;
}

.contact_text {
  padding-bottom: 60px;
}

.subtitle_inner .contact_col .contact_row {
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.contact_col {
  max-width: 653px;
  padding-right: 270px;
}

.contact_row a {
  padding-right: 24px;
}

.blue {
  /* title */

font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  /* accent */

  color: #1799c9;
}

/* calculator */
.calculator {
  position: relative;
  display: block;
  max-width: 1600px;
  height: 1845px;
  padding-bottom: 96px;
}

.calc_inner {
  width: 1600px;
  left: 160px;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #0e110f;
  border-radius: 10px;
}
.calc_row {
  position: relative;
  padding-left: 96px;
  padding-right: 98px;
}

.calc_head {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.calc_head::before {
  display: block;
  content: "";
  border: 1px solid rgba(14, 17, 15, 1);
  position: absolute;
  width: 1598px;
  height: 0px;
  left: -2px;
  top: 0px;
}

.calc_row:first-child.calc_head::before {
  content: none;
}
.calc_head::after {
  display: block;
  content: "";
  border: 1px solid rgba(14, 17, 15, 1);
  position: absolute;
  width: 1598px;
  height: 0px;
  left: -2px;
  top: 92px;
}

.calc_title {
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.calc_row_num {
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
}
.calc_nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  gap: 10px;
  text-align: center;
  padding-inline-start: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
 font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.tabs_link {
  color: #0e110f;
}
.tabs_link {
  /* Auto layout */
  padding: 12px 24px;
  height: 21px;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;

  border: 1px solid #0e110f;
}
.tabs_link-active {
  color: #fff;
  background: #0e110f;
}

.calc_panel {
}
.price_color {
  color: rgba(23, 153, 201, 1);
}

.calc_radio {
  padding-top: 24px;
  padding-bottom: 24px;
  /* cursor: pointer; */
  max-width: 500px;
}

.calc_radio_desc {
  padding-top: 12px;
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.calc_radio_name {
  position: relative;
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin-left: 12px;
}
.calc_total {
  width: 288px;
  height: 112px;
  right: -147px;
  top: 1828px;
  position: absolute;
  max-width: 288px;
  height: 112px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #0e110f;
  border-radius: 0px 0px 10px 10px;
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  /* white */

  color: #ffffff;
}
input {
  margin-bottom: 15px;
}
.at {
  padding-left: 35px;
}

/* footer */

.footer {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_inner {
  display: flex;
  width: 1600px;
  justify-content: space-between;
  height: 603px;
  border-radius: 10px 10px 0px 0px;
  background-color: #0e110f;
}

.footer_inner .footer_col:first-child {
  padding-right: 230px;
  padding-left: 95px;
  flex-direction: column;
  justify-content: flex-start;
}

.footer_col {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  text-align: left;
font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height, or 21px */

  /* white */

  color: #ffffff;

  padding-top: 96px;
  padding-right: 46px;
}

.footer_main_text {
  font-size: 64px;
  line-height: 78px;
}

.footer_text {
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  max-width: 600px;
}

.footer_row {
  padding-top: 48px;
  max-width: 518px;
}

.footer_row input {
  border: none;
  color: #fff;
  background: rgba(239, 239, 239, 0.1);
  width: 308px;
  height: 38px;
  margin-top: 12px;
}

.footer_col .footer_row:first-child {
  padding-top: 0px;
}

.footer_col_sec {
  max-height: 210px;
}

.footer_col_sec .footer_row {
  width: 308px;
  height: 81px;
}

.footer_col_sec:first-child {
  padding-right: 46px;
}

.footer_btn {
  position: absolute;
  top: 363px;
  background-color: #fff;
  width: 662px;
  height: 48px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;

  /* text */
font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  line-height: 130%;
  transition: opacity 0.2s linear;
}
.footer_btn svg {
  position: absolute;
  left: 56%;
}

.footer_btn:hover {
  opacity: 0.5;
}

.footer_general {
  display: flex;
  width: 100%;
  background-color: #0e110f;
  height: 234px;
}
.footer_general .footer_col {
  flex-direction: column;
  padding-top: 48px;
}
.footer_general .footer_col:first-child {
  padding-right: 1007px;
  padding-left: 161px;
}
.footer_general .footer_col .footer_row:first-child {
  padding-top: 0px;
  opacity: 1;
}
.footer_general .footer_col .footer_row {
  color: white;
  opacity: 0.5;
  padding-top: 24px;
  max-width: 370px;
}
.footer_general .footer_col .footer_row a {
  text-decoration: underline;
}
.footer_general .footer_col .footer_row:last-child {
  padding-bottom: 47px;
}
.footer_general .footer_col:last-child a {
  padding-left: 24px;
  text-decoration: none;
}
.footer_form_vector {
  padding-left: 18px;
}
